<nav>
  <div class="navlink">
    <a href="/">Home</a>
  </div>
  <div class="navlink">
    <a href="/users/<%=current_user.id%>">My Profile</a>
  </div>
  <div id="logout">
    <%= button_to("Log Out", logout_users_path, method: :delete) %>
  </div>
</nav>

<div id="edit">
  <center>
    <br>
    <h4>Edit:</h4>
    <%= form_for @user do |f| %>
    	<br>
      <%= f.label "E-mail: " %>
      <br>
      <%= f.email_field :email %>
      <br>
      <%= f.label "Username: " %>
      <br>
      <%= f.text_field :username %>
      <br>
      <%= f.label "Password: " %>
      <br>
      <%= f.password_field :password %>
      <br>
      <%= f.label "Re-type Password: " %>
      <br>
      <%= f.password_field :password2 %>
      <br>
      <br>
      <%= f.submit "Update" %>
    <% end %>
    <br>
    Delete your account: 
    <%= button_to("Delete", user_path(current_user.id), method: :delete, data: {confirm: "Your account will be DELETED, ok?"}) %>
    <br>
  </center>
</div>