<% if current_user == nil %>

  <nav>
    <a class="navlink" href="/">Home</a>
    <div id="login">
      <b>Login:</b>
      <%= form_tag("/users", action: "index", method: "get")do %>
        <%= label_tag "E-mail: " %>
        <%= email_field_tag :email %>
        <%= label_tag "Password: " %>
        <%= password_field_tag :password %>
        <%= submit_tag "Log in" %>
      <% end %>
    </div>
  </nav>

<% end %>

<% if current_user != nil %>

  <nav>
    <div class="navlink">
      <a href="/">Home</a>
    </div>
    <div class="navlink">
      <a href="/users/<%=current_user.id%>">My Profile</a>
    </div>
    <div id="logout">
      <%= button_to("Log Out", logout_users_path, method: :delete) %>
    </div>
  </nav>

<% end %>

<div id="feed">
  <div id="right">
    <h1><%= @post.title %></h1>
    Posted <%= distance_of_time_in_words(Time.now, @post.created_at) %>
    <br>
    by: <a href="/users/<%=@post.user.id%>/profile">
          <%= @post.user.username %>
        </a>

    <% if current_user != nil && current_user.id == @post.user.id %>
       | <%= link_to("Delete", post_path(@post.id), method: :delete, data: {confirm: "Your post will be DELETED, ok?"}) %> | <%= link_to("Edit", edit_post_path(@post.id), method: :get) %>
    <% end %>

    <br>
    <br>
    <%= @post.body %>
    <br>
    <br>
  </div>

  <div id="left">  
    <h4>Comments: </h4>

    <% @post.comments.each do |comment| %>
      <br>
      <%= comment.combody %>
      <br>
      Posted <%= distance_of_time_in_words(Time.now, comment.created_at) %> 
      by: <a href="/users/<%=comment.user.id%>/profile">
            <%= comment.user.username %> 
          </a>

      <% if current_user != nil && current_user.id == comment.user.id %>
         | <%= link_to("Delete", comment_path(comment.id), method: :delete, data: {confirm: "Your comment will be DELETED, ok?"}) %> | <%= link_to("Edit", edit_comment_path(comment.id), method: :get) %>
      <% end %>

      <br>
      <hr>
    <% end %>

    <% if current_user != nil %>

      <%= form_for Comment.new do |f| %>
        <br>
        <h4><%= f.label "Would you like to post a comment: " %></h4>
        <br>
        <%= f.text_area :combody, size: "50x4" %>
        <br>
        <%= f.hidden_field :id, value: @post.id %>
        <%= f.submit "Submit" %>
      <% end %>
  </div>
</div>
<% end %>